
\.idea/

*.pyc

tmp\.py
/device/timer.o
/device/timer.ko
/device/modules.order
/device/Module.symvers
/device/.timer.o.cmd
/device/.Module.symvers.cmd
/device/.modules.order.cmd
/device/.timer.ko.cmd
/device/.timer.mod.cmd
/device/.timer.mod.o.cmd
/device/timer.mod
/.vscode/settings.json
/device/ad738x_reader
/cpp/ai_model.c
/cpp/ai_model.h
/index.html
/update.patch
